.about-tilt {
    animation: tilting 3s forwards infinite;
}

.about-tilt-rev {
    animation: tilting-rev 3s forwards infinite;
}

.cash {
    animation: cash-tilt 1s forwards ease-in infinite;
}

.action-arrow-black {
    animation: black_scale 800ms forwards infinite;
}

.action-arrow-white {
    width: 100%;
    height: 100%;
    fill: url(#gradient);
    /* background-image: linear-gradient(to right, red, black); */
    /* animation: black_fade 600ms forwards linear infinite; */
    border-radius: 100;
}

@keyframes gradientMove {
    0% {
        x1: 14;
        x2: 0;
    }

    100% {
        x1: 0;
        x2: 14;
    }
}

linearGradient {
    animation: gradientMove 3s linear infinite;
}

@keyframes black_fade {
    0% {
        background-image: linear-gradient(to right, red, black);
    }

    50% {
        background-image: linear-gradient(to right, red, black, red);

    }

    100% {
        background-image: linear-gradient(to right, black, red);
    }
}

@keyframes black_scale {

    0%,
    100% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(120%, 120%);
    }
}

@keyframes cash-tilt {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-8deg);
    }
}

@keyframes tilting {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

}

@keyframes tilting-rev {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

}

.process-line path {
    animation: change_color 0.6s ease-out 0.1s forwards infinite;
}

@keyframes change_color {

    0%,
    100% {
        fill: #4258BE;
    }

    50% {
        fill: #88DB1B;
    }
}

.program-anime {
    width: 0rem;
    animation: slide 1s linear both infinite;
    animation-delay: 1ms;
}

@keyframes slide {
    0% {
        width: 0rem;
    }

    100% {
        width: 27.25rem;
    }
}