.rect1 {
    background-image: url('./Included_images/rect1.png');
}

.rect2 {
    background-image: url('./Included_images/rect2.png');
}

.rect {
    background-image: url('./Included_images/rect.png');
}