.piece-1 {
    box-shadow: -1.5rem -1.5rem 0 1.5rem #F7F7F7;
}

.piece-2 {
    box-shadow: 1.5rem 1.5rem 0 1.5rem #F7F7F7;
}

.piece-3 {
    box-shadow: 1.5rem 1.5rem 0 1.4rem #F7F7F7;
}

.trapezium {
    height: 0;
    width: 24rem; 
    border-bottom: 6rem solid #E6F3D6;
    border-left: 5rem solid transparent; 
}

