.aboutbar {
    background-size: 100% 100%;
}

.lineanime {
    height: 0.25rem;
    animation: linextend 2s forwards;
}

.herogradient {
    animation: gradientanime 8s ease-out 100ms forwards;


}

.enroll-anime {
    animation: ballmove 8s linear 1ms forwards infinite;
}

@keyframes ballmove {
    0% {
        transform: translate(0, 0);
    }

    45% {
        transform: translate(33.5rem, 0);
    }

    55% {
        transform: translate(36.5rem, -4rem);
    }

    100% {
        transform: translate(70.3rem, -4.2rem);
    }
}

@keyframes linextend {
    0% {
        width: 0;
    }

    100% {
        width: 11rem;
    }
}

@keyframes gradientanime {
    0% {
        background: linear-gradient(81.06deg, rgba(254, 254, 254, 0.3) 6.83%, rgba(115, 115, 115, 0.084) 29.65%, rgba(247, 247, 247, 0.3) 56.91%);
    }

    100% {
        background: linear-gradient(81.06deg, rgba(254, 254, 254, 0.3) 6.83%, rgba(115, 115, 115, 0.084) 93.24%);

    }
}

.enroll-banner {
    background-image: url('../assets/enroll.png');
}

.rectangle {
    background-image: url('../assets/rect1.png');
}

.enroll1 {
    background-image: url('../assets/enroll1.png');
}

.enroll2 {
    background-image: url('../assets/enroll2.png');
}

.action-banner {
    background-image: url('../assets/action.png');
}

/* bg-[url('src/assets/rect1_mobile.png')]  */
@media (max-width: 640px) {
    .enroll-banner {
        background-image: url('../assets/enroll_mobile.png');
    }

    .rectangle {
        background-image: url('../assets/rect1_mobile.png');
    }

    .enroll1 {
        background-image: url('../assets/enroll1_mobile.png');
    }

    .enroll2 {
        background-image: url('../assets/enroll2_mobile.png');
    }

    .lineanime {
        animation: linextend-mobile 2s forwards;
    }

    .enroll-anime {
        animation: ballmove_mobile 8s linear 1ms forwards infinite;
    }

    @keyframes linextend-mobile {
        0% {
            width: 0;
        }

        100% {
            width: 4rem;
        }
    }

    @keyframes ballmove_mobile {
        0% {
            transform: translate(0, 0);
        }

        45% {
            transform: translate(8.7rem, 0);
        }

        55% {
            transform: translate(9.5rem, -1rem);
        }

        100% {
            transform: translate(18.4rem, -1rem);
        }
    }

}

.textanime {
    animation: textcolorchange 2s forwards;
}

@keyframes textcolorchange {
    0% {
        color: black;
    }

    50% {
        color: #88DB1B;
    }

    100% {
        color: black;
    }
}

.footer-link {
    font-size: 12px;
    line-height: 24px;
}